* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.3;
    height: 100%;
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url('./img/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.container {
    display: grid;
    place-items: center;
    height: 400px;
    width: 350px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
}

.js-button {
    font-size: 20px;
    font-weight: 600;
    position: sticky;
    width: 90%;
    height: 7vh;
    color: #fff;
    border-radius: 5px;
    background-color: #2035ff;
    text-align: center;
}

.js-button:hover {
    cursor: pointer;
    transform: translate(-1px, -2px)
}

.full-width {
    width: 100%;
    grid-column: 1 / 3;
}

section { 
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

#question-title {
    width: 95%;
}

form {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    display: block;
}

form p {
    margin: 0;
}

form input {
    display: none;
}

label:focus {
    outline: 0;
    background-color: #2035ff;
    color: #fff;
}

label:hover {
    cursor: pointer;
    transform: translate(-1px, -2px)
}

label span {
    text-align: center;
}

#progress-bar {
    width: 100%;
    padding: 1px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    .container {
        height: 400px;
        width: 500px;
    }
  }